

<% if @piranha.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @piranha.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="aquaindex">


<div class="container">
      <div class="row">
          <div class="col-lg-3"> 
<h4>
<%= form_for(@piranha) do |f| %>

    画像<br>
    <p><%= f.attachment_field :image %></p>
	タイトル<br>
	<p><%= f.text_field :title %></p>
	ジャンル<br>
	<p><%= f.collection_select(:genre_id, Genre.all, :id, :name, {promot: ""} ) %></p>
	内容<br>
	 <p><%= f.text_area :body %></p>
	 <p><%= f.submit '投稿' %></p>

	<% end %>
</div>
</h3>
</div>


      <p class="success" style="color: white;"><h2>投稿一覧</h2></p>
      <br>
         <% @piranhas.each do |piranha| %>
            <div class="col-lg-3">
              <ul class="list-group">
                <li class="image list-group-item">
                   <%= attachment_image_tag piranha, :image, style: "width: 220px; height: 220px;", fallback: "no_image.jpg" %>
                </li>
                <li class="status list-group-item"><%= piranha.title %></li>
                <li class="status list-group-item"><%= piranha.genre.name %></li>
                <li class="status list-group-item"><%= link_to "詳細", piranha_path(piranha) %></li>
                <% if user_signed_in? %>
                <% if current_user.already_favorited?(piranha) %>
                <li class="status list-group-item">
                 <div>
                  <%= link_to piranha_favorites_path(piranha), method: :delete do %>
                <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
                <%= piranha.favorits.count %> いいね
                <% end %>
               </div>
             </li>
             <% else %>
             <li class="status list-group-item">
         <div>
            <%= link_to piranha_favorites_path(piranha), method: :post do %>
              <i class="glyphicon glyphicon-heart" aria-hidden="true"></i>
             <%= piranha.favorits.count %> いいね
             <% end %>
        </div>
      </li>
            <% end %>
            <% end %>
                <%if current_user == piranha.user || admin_signed_in? %>
                <li class="status list-group-item"><%= link_to "削除", piranha_path(piranha), method: :delete, "data-confirm" => "本当に削除しますか？？" %>
                </li>
                <%end%>
              </ul>
          </div>
      <% end %>
    </div>
<div>