<div class="cd-index container">
  <h3>投稿一覧</h3>
     <% @piranhas.each do |piranha| %>
          <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
              <ul class="list-group">
                <li class="image list-group-item">
                  <%= attachment_image_tag piranha, :image, style: "width: 220px; height: 220px;", fallback: "no_image.jpg" %>
                </li>
                <li class="status list-group-item"><%= piranha.title %></li>
                <li class="status list-group-item"><%= piranha.genre.name %></li>
                <li class="status list-group-item"><%= link_to "詳細", piranha_path(piranha) %></li>
                <% if user_signed_in? %>
                <% if current_user.already_favorited?(piranha) %>
                <li class="status list-group-item">
                 <div>
                  <%= link_to piranha_favorites_path(piranha), method: :delete do %>
                <i class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"></i>
                <%= piranha.favorits.count %> いいね
                <% end %>
                </li>
              </ul>
          </div>
      <% end %>
</div>