<% if user_signed_in? || admin_signed_in? %>

<div class="top1">
	<div class="toptext1">
	</div>
</div>

<div class="top2">
	<div class="toptext2">
     <P class="toptitle"><%= link_to "写真の投稿はこちら", piranhas_path %></P>
	</div>
</div>

<div class="top3">
	<div class="toptext3">
		<P class="toptitle"><%= link_to "里親募集はこちら", buyers_path %></p>
	</div>
</div>

<% else %>

<div class="top1">
	<div class="toptext1">
	</div>
</div>

<div class="top2">
	<div class="toptext2">
       <P class="toptitle"><%= link_to "写真の投稿はこちら", new_user_session_path %></P>
	</div>
</div>

<div class="top3">
	<div class="toptext3">
		<P class="toptitle"><%= link_to "里親募集はこちら", new_user_session_path %></p>
	</div>
</div>

<%= yield %>
<% end %>